.testimonials {

  .mySwiper {
    padding-bottom: 50px;
  }

  .swiper-pagination-bullet-active {
    background: #7E5D6F;
  }

  .swiper-slide {
    grid-template-columns: repeat(2,1fr);
    display: grid;
    background: #5c3249;
  }

  @media (max-width: 750px) {
    .swiper-slide {
      grid-template-columns: repeat(1,1fr);
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .swiper-slide-testimonials-description_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*max-width: 470px;*/
    padding: 0 15px 0 129px;
    /*width: 50%;*/
    box-sizing: content-box;

    .swiper-slide-testimonials-title_item {
      color: #fff;
      text-transform: capitalize;
      text-align: left;
      max-width: 470px;
      font-family: 'Cardo', sans-serif;
      font-size: 36px;
      font-style: italic;
      font-weight: 400;
    }

    @media (max-width: 1024px) {
      .swiper-slide-testimonials-title_item {
        font-size: 24px;
        max-width: 700px;
      }
    }

    .swiper-slide-testimonials-text_item {
      color: #fff;
      text-transform: uppercase;
      text-align: left;
      max-width: 470px;
      margin-top: 25px;
      font-size: 13px;
      font-weight: 700;
    }
    @media (max-width: 1024px) {
      .swiper-slide-testimonials-text_item {
        font-size: 12px;
        max-width: 700px;
      }
    }
  }
  @media (max-width: 1024px) {
    .swiper-slide-testimonials-description_item {
      padding: 0 10px 0 88px;
      max-width: 700px;
    }
  }

  @media (max-width: 750px) {
    .swiper-slide-testimonials-description_item {
      padding: 20px;
      margin: 0 auto;
    }
  }

  @media (max-width: 320px) {
    .swiper-slide-testimonials-description_item {
      padding: 20px;
      margin: 0 auto;
    }
  }

}