$blue: #353C65;
$darkblue: #2C3154;
$red: #FF4343;
$white: #FFF;
$gray: #808080;
$lightgray: #C6CBCD;
$black: #000;
$dark: #2D3033;
$graphite: #6C7279;

$line: #BABBC5;


$home-banner: url(../img/banner.png);
$burger: url(../img/burger.png);
